@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --background: #0E1C36;
  --foreground: #ededed;
  --primary: #face8d;
  --secondary: #ffffff99;

  --base-size: 14px;
  --scale-ratio: 1.2;
  --line-height: 1.2;
  --line-height-title: 1.2;
  
  --font-urbanist: var(--font-urbanist);
}

@font-face {
  font-family: 'chillax-regular';
  src: url('../font/Chillax-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'chillax-semibold';
  src: url('../font/Chillax-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'bitter-rose';
  src: url('../font/Bitter\ Rose\ DEMO.otf') format('opentype');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0E1C36;
    --foreground: #ededed;
  }
} */

body {
  background: linear-gradient(180deg, #0E1C36 0%, #000000 100%);
  color: var(--foreground);
  font-family: var(--font-urbanist);
  line-height: var(--line-height);
}

h1,h2,h3,h4,h5,h6 {
  line-height: var(--line-height-title);
}

@layer base {
  html {
    font-size: var(--base-size);
    font-family: "chillax-regular";
  }
  h1{
    font-size: 3.785rem;
    font-weight: bold;
  }
  h2{
    font-size: 3.071rem;
    font-weight: bold;
    font-family: 'bitter-rose';
  }
  h3{
    font-size: 2.438rem;
    font-weight: 600;
  }
  h4{
    font-size: 1.928rem;
    font-weight: 600;
  }
  h5{
    font-size: 1.571rem;
    font-weight: 500;
  }
  h6{
    font-size: 1.285rem;
    font-weight: 500;
  }
  p{
    font-size: 1rem;
  }
  article{
    font-size: 0.785rem;
    /* font-weight: 600; */
    text-align: start;
    @apply tracking-widest
  }
  small{
    font-size: 0.642rem;
    font-weight: 800;
    text-transform: uppercase;
    @apply tracking-widest;
  }
}
